/*! Переменные */
bgnav = #2d2d2d // Фон меню
textGreen = #bbd766 // зеленый текст
block-pic-top-bg = #f3f3f3 // фон в текстовых блоках
textRed = #e20000 // красный текст

shadowMainSlider() // Тень текста в слайдере на Главной
  text-shadow 7px 4px 20px #000000b3

shadowTxtBlocks() // Тени текстовых блоков
  box-shadow 4px 4px 3px #8080806b

/*! /Переменные */
