header.header__main
  //- include navbar
  .header__main-logo
    a(href = '/').header__main-logo-a
      img.header__main-logo-a-img(src='images/dark-logo.png')
  ul.header__main-bullets
    li.header__main-bullets-li
    li.header__main-bullets-li.active
    li.header__main-bullets-li
    li.header__main-bullets-li
    li.header__main-bullets-li
    li.header__main-bullets-li
  ul.header__main-nav-mobile
    li.header__main-nav-mobile-li.header__main-nav-mobile-li-1
    li.header__main-nav-mobile-li.header__main-nav-mobile-li-2
    li.header__main-nav-mobile-li.header__main-nav-mobile-li-3
  
  //- Контент шапки
