// Шапка
.header
  // Буллеты
  .bullets
    .bullets__bullet
    .bullets__bullet
    .bullets__bullet
    .bullets__bullet
    .bullets__bullet
  // Меню
  .menu
    // Кнопка меню
    .menu__btn
    // Навигация
    .menu__inner
      .menu__inner-left
        .menu__inner-left-ttl Маковский Александр
      .menu__inner-right
      .menu__items
        .menu__items-item
        .menu__items-item
        .menu__items-item
        .menu__items-item
    
    
          
