//! Стандартный шаблон
.header__simple
  position relative
.header__simple:before
  content ''
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background-color #292929bf
  
//! /Стандартный шаблон
